@model TrashCollector.Models.Employee

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome back, @Model.FirstName @Model.LastName!</h1>
<a asp-action="FillOutInformation" asp-route-EmployeeId="@Model.Id" class="btn btn-primary">Update Information</a>
<a class="btn btn-primary" asp-action="WeeklyPlanner" asp-route-offset=-1>Weekly Planner</a>
<a asp-action="MapsAPI" class="btn btn-primary">Map</a>

<h3>Today's date: @Model.WeekDay</h3>

<h1>Completed Pickups</h1>
@foreach (var customer in Model.Completed)
{
    <tr>
        <td>
            <div>
                Request completed for @customer.FirstName @customer.LastName on @($"{customer.StreetAddress} {customer.City}, {customer.State} {customer.ZipCode}")
            </div>
        </td>
    </tr>
}
<h1>Remaining Requests</h1>
@foreach (var customer in Model.NeedToCollect)
{
    <tr>
        <td>
            <div>
                @(customer.WeeklyPickup ? "Scheduled Weekly Pickup for" : "One time pickup for")
                @customer.FirstName @customer.LastName on @($"{customer.StreetAddress} {customer.City}, {customer.State} {customer.ZipCode}")
                <a class="btn btn-info" asp-action="CompletePickup" asp-route-EmployeeId=@Model.Id asp-route-CustomerId=@customer.Id asp-route-weeklyPickup=@customer.WeeklyPickup>Confirm Pickup</a>
            </div>
        </td>
    </tr>
}
<input type="button" class="btn btn-primary" value="Display on Map" id="show-map" />
<div id="pickupMap" class="google-map"></div>

<script>
    document.getElementById('show-map').onclick = function myMap() {
        var mapProp = {
            center: new google.maps.LatLng(51.508742, -0.120850),
            zoom: 5,
        };
        var map = new google.maps.Map(document.getElementById("pickupMap"), mapProp);
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzvJERVyotGlq-Yz6h3CzCIJKfc5K5Zuo&callback=myMap"></script>

