@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://js.stripe.com/v3/"></script>
<h1>Dashboard</h1>

<div>
    <h4>@(Model.FirstName + " " + Model.LastName)</h4>
    <hr />
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h2> Trash Collection Day: @Html.DisplayFor(model => model.DayOfWeek)</h2>
            <h3>Total Charges This Month: @("$" + Model.FeesThisMonth + ".00")</h3>
            @foreach (CompletedPickup pickup in Model.completedPickups)
            {
                <p>
                    @(pickup.OneTimePickup ? "One Time Pickup on " : "Weekly Pickup on ") @(pickup.Date.Month + "-" + pickup.Date.Day + "-" + pickup.Date.Year + " for ")
                    @("$" + (pickup.OneTimePickup ? "10" : "5") + ".00")
                </p>
            }
            @if (Model.FeesThisMonth > 0)
            {
            <button id="checkout-button" class="btn-primary">Make Payment</button>
            <script type="text/javascript">
                var stripe = Stripe('pk_test_51IYBRaIA0hLVSbphflOwHb6VZqwN4at3SyOb9QtTK7i8FwXeBp7OKETjTskQsYDEAZxAuQqRzbynz0ZOjWk5U6sB00h30v7vc4');
                var checkoutButton = document.getElementById('checkout-button');

                checkoutButton.addEventListener('click', function () {
                    fetch('/create-checkout-session', {
                        method: 'POST',
                    })
                        .then(function (response) {
                            return response.json();
                        })
                        .then(function (session) {
                            return stripe.redirectToCheckout({ sessionId: session.id });
                        })
                        .then(function (result) {
                            if (result.error) {
                                alert(result.error.message);
                            }
                        })
                        .catch(function (error) {
                            console.error('Error:', error);
                        });
                });
            </script>
            }

        </div>
        <dl class="col-sm-12 col-md-6">
            <dt>
                Account Info
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.LoginEmail)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LoginEmail)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.StreetAddress)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.StreetAddress)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.State)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.State)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ZipCode)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ZipCode)
            </dd>
            <dt>
                <a asp-action="FillOutInformation" asp-route-CustomerId="@Model.Id" class="btn btn-primary">Update Information Or Change Collection Day</a>
            </dt>
        </dl>
    </div>
</div>
<h1>Pause Service</h1>
<div>
    @if (Model.StartDate == null)
    {
        <a asp-action="PauseService" asp-route-CustomerId="@Model.Id" class="btn btn-info">Click Here to Pause Service</a>
    }
    else
    {
        <p>The service is currently paused from @Model.StartDate.Value.ToShortDateString()  to @Model.EndDate.Value.ToShortDateString() (Resumes the day after) </p>
        <a asp-action="RestoreService" asp-route-CustomerId="@Model.Id" class="btn btn-primary">Click here to restore service</a>
    }
</div>
<h1>Additional One Time Pickups</h1>
@foreach (var item in Model.oneTimePickups)
{
    <tr>
        <td>
            <div>
                Pickup scheduled for @($"{item.Date.Month}-{item.Date.Day}, {item.Date.Year}") <a class="btn btn-danger" CancelPickup" asp-route-CustomerId=@item.CustomerId asp-route-PickupDate=@item.Date>Cancel</a>
            </div>
        </td>
    </tr>
}
<div>
    <a asp-action="RegisterOneTimePickup" asp-route-CustomerId="@Model.Id" class="btn btn-primary">One Time Pickup</a>
</div>

